.triple-room {
  background-color: $secondary-bg-color;
}

.swiper-triple-btns {
  display: flex;
  justify-content: flex-end;

  @media screen and (min-width: 1024px) {
    justify-content: flex-start;
  }
}

.swiper-wrapper-triple {
  @media screen and (max-width: 1023px) {
    margin-right: -15px;
  }
}

.reverse-title-wrap {
  @media screen and (min-width: 1024px) {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
}

.reverse-wrap {
  @media screen and (min-width: 1024px) {
    display: flex;
    flex-direction: row-reverse;
  }

  @media screen and (min-width: 1280px) {
    width: auto;
  }
}

.hotel-buttons-wrapper-triple {
  @media screen and (min-width: 1024px) {
    margin-left: 0px;
    margin-right: auto;
  }
}
.triple-room-title-wrapper {
  @media screen and (min-width: 1024px) {
    text-align: end;
    margin-left: 45px;
  }
}

.title-triple-room {
  @media screen and (min-width: 1024px) {
    text-align: start;
  }
}
.hotel-text-wrapp {
  @media screen and (min-width: 1024px) {
    width: 100%;
    max-width: 400px;
    text-align: start;
  }
}

.holel__triple__slider {
  flex-direction: row-reverse;
  justify-content: space-between;

  @media (max-width: $max-mobile) {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet) {
    justify-content: flex-end;
    gap: 40px;
  }

  @media (min-width: $desktop) {
  }
}

.holel__triple__container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  @media (max-width: $max-mobile) {
    display: block;
  }
}

.hotel-triple__arrows {
  display: flex;
  gap: 32px;
  margin-top: 20px;
}
