<section class="triple-room hotel-rooms">
  <div class="container">
    <div class="reverse-title-wrap">
      <div class="triple-room-title-wrapper">
        <p class="subtitle-triple-room subtitle-room">Amet minim mollit non</p>
        <h2 class="title-mimiho-style title-mimiho-second">MIMIHO</h2>
        <h3 class="title-triple-room title-room">ТРЬОХМІСНИЙ НОМЕР</h3>

        <div class="hotel-text-wrapp">
          <p class="text-triple-room text-room">
            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
            sint. Velit officia consequat duis enim velit mollit. Exercitation
            veniam consequat sunt nostrud amet.
          </p>
        </div>
      </div>

      <img
        srcset="
          /src/images/mobile-image/mobile-photo-hotel-2@x2.jpg 1x,
          /src/images/mobile-image/mobile-photo-hotel-2@x2.jpg 2x
        "
        class="triple-room-pic pic"
        src="/src/images/mobile-image/mobile-photo-hotel-2.jpg"
        alt="Велике ліжко"
        width="244"
        height="322"
      />
    </div>
    <div class="holel__triple__container">
      <div class="holel__triple__slider" data-slider="data-slider">
        <div class="swiper restaurant_swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="
                    /src/images/desktop-image/desktop-slide-photo-hotel-4.jpg 1x,
                    /src/images/desktop-image/desktop-slide-photo-hotel-4.jpg 2x
                  "
                  media="(max-width: 1023px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    /src/images/desktop-image/desktop-slide-photo-hotel-4.jpg 1x,
                    /src/images/desktop-image/desktop-slide-photo-hotel-4.jpg 2x
                  "
                  media="(max-width: 1279px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    /src/images/desktop-image/desktop-slide-photo-hotel-4.jpg 1x,
                    /src/images/desktop-image/desktop-slide-photo-hotel-4.jpg 2x
                  "
                  type="image/jpeg"
                />
                <img
                  class="about-restaurant_square-desktop"
                  src="/src/images/desktop-image/desktop-slide-photo-hotel-4.jpg"
                  alt="Великий номер"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="
                    /src/images/desktop-image/desktop-slide-photo-hotel-5.jpg 1x,
                    /src/images/desktop-image/desktop-slide-photo-hotel-5.jpg 2x
                  "
                  media="(max-width: 1023px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    /src/images/desktop-image/desktop-slide-photo-hotel-5.jpg 1x,
                    /src/images/desktop-image/desktop-slide-photo-hotel-5.jpg 2x
                  "
                  media="(max-width: 1279px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    /src/images/desktop-image/desktop-slide-photo-hotel-5.jpg 1x,
                    /src/images/desktop-image/desktop-slide-photo-hotel-5.jpg 2x
                  "
                  type="image/jpeg"
                />
                <img
                  class="about-restaurant_square-desktop"
                  src="/src/images/desktop-image/desktop-slide-photo-hotel-5.jpg"
                  alt="Великий номер"
                />
              </picture>
            </div>
            <div class="swiper-slide">
              <picture>
                <source
                  srcset="
                    /src/images/desktop-image/desktop-slide-photo-hotel-6.jpg 1x,
                    /src/images/desktop-image/desktop-slide-photo-hotel-6.jpg 2x
                  "
                  media="(max-width: 1023px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    /src/images/desktop-image/desktop-slide-photo-hotel-6.jpg 1x,
                    /src/images/desktop-image/desktop-slide-photo-hotel-6.jpg 2x
                  "
                  media="(max-width: 1279px)"
                  type="image/jpeg"
                />
                <source
                  srcset="
                    /src/images/desktop-image/desktop-slide-photo-hotel-6.jpg 1x,
                    /src/images/desktop-image/desktop-slide-photo-hotel-6.jpg 2x
                  "
                  type="image/jpeg"
                />
                <img
                  width="254"
                  class="about-restaurant_square-desktop"
                  src="/src/images/desktop-image/desktop-slide-photo-hotel-6.jpg"
                  alt="Великий номер"
                />
              </picture>
            </div>
          </div>

          <div class="hotel-triple__arrows">
            <button type="button" class="swiper-btn sw-button-prev">
              <svg class="swiper-btn__icon" width="32" height="32">
                <use href="/src/images/sprite.svg#icon-arrow-left-hero"></use>
              </svg>
            </button>

            <button type="button" class="swiper-btn sw-button-next">
              <svg class="swiper-btn__icon" width="32" height="32">
                <use href="/src/images/sprite.svg#icon-cil_arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
      <div class="hotel-buttons-wrapper hotel-buttons-wrapper-triple">
        <a class="btn-room-details link-rooms" href="./room-triple.html"
          >Детальніше</a
        >
        <button
          class="btn-room-prices btn-rooms"
          type="button"
          data-modal-open-price2
        >
          Переглянути ціни
        </button>
      </div>
    </div>
  </div>
</section>
