<section class="mHotel">
  <div class="container">
    <div class="mHotel__tablet">
      <div>
        <h3 class="mHotel__name">Amet minim mollit non</h3>
        <h3 class="mHotel__title">MIMIHO</h3>

        <p class="mHotel__list">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <div>
        <picture>
          <source
            srcset="
              ./images/mobile-image/mobile-photo-hotel-1.jpg    1x,
              ./images/mobile-image/mobile-photo-hotel-1@x2.jpg 2x
            "
            type="image/jpeg"
            media="(max-width: 1024px)"
          />
          <source
            srcset="
              ./images/tablet-image/tablet-photo-hotel-1.jpg    1x,
              ./images/tablet-image/tablet-photo-hotel-1@x2.jpg 2x
            "
            type="image/jpeg"
            media="(max-width: 1280px)"
          />
          <img
            class="mHotel__img"
            src="./images/desktop-image/desktop-photo-hotel-1@x2.jpg"
            alt=""
          />
        </picture>
      </div>
    </div>
    <div class="mHotel__flex">
      <p>
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
      <img
        class="mHotel__img-bot"
        src="/src/images/desktop-image/desktop-photo-hotel-4@x2.jpg"
        alt=""
      />
    </div>

    <div class="mHotel__screw" data-slider="data-slider">
      
      <div class="mHotel__srewImg swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  /src/images/desktop-image/desktop-slide-photo-hotel-9.jpg 1x,
                  /src/images/desktop-image/desktop-slide-photo-hotel-9.jpg 2x
                "
                media="(max-width: 1023px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/desktop-image/desktop-slide-photo-hotel-9.jpg 1x,
                  /src/images/desktop-image/desktop-slide-photo-hotel-9.jpg 2x
                "
                media="(max-width: 1279px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/desktop-image/desktop-slide-photo-hotel-9.jpg 1x,
                  /src/images/desktop-image/desktop-slide-photo-hotel-9.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                class="about-restaurant_square-desktop"
                src="/src/images/desktop-image/desktop-slide-photo-hotel-9.jpg"
                alt="Про комплекс"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  /src/images/desktop-image/desktop-slide-photo-hotel-11.jpg 1x,
                  /src/images/desktop-image/desktop-slide-photo-hotel-11.jpg 2x
                "
                media="(max-width: 1023px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/desktop-image/desktop-slide-photo-hotel-11.jpg 1x,
                  /src/images/desktop-image/desktop-slide-photo-hotel-11.jpg 2x
                "
                media="(max-width: 1279px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/desktop-image/desktop-slide-photo-hotel-11.jpg 1x,
                  /src/images/desktop-image/desktop-slide-photo-hotel-11.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                class="about-restaurant_square-desktop"
                src="/src/images/desktop-image/desktop-slide-photo-hotel-11.jpg"
                alt="Про комплекс"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  /src/images/desktop-image/desktop-slide-photo-hotel-8@x2.jpg 1x,
                  /src/images/desktop-image/desktop-slide-photo-hotel-8@x2.jpg 2x
                "
                media="(max-width: 1023px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/desktop-image/desktop-slide-photo-hotel-8@x2.jpg 1x,
                  /src/images/desktop-image/desktop-slide-photo-hotel-8@x2.jpg 2x
                "
                media="(max-width: 1279px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/desktop-image/desktop-slide-photo-hotel-8@x2.jpg 1x,
                  /src/images/desktop-image/desktop-slide-photo-hotel-8@x2.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                width="254"
                class="about-restaurant_square-desktop"
                src="/src/images/desktop-image/desktop-slide-photo-hotel-8@x2.jpg"
                alt="Про комплекс"
              />
            </picture>
          </div>
        </div>
        <div class="mHotel_srewImg-arrows">
      <button type="button" class="sw-button-prev about-restaurant__button" aria-labelledby="прогорнути лівопуч">
        <svg width="32" height="32">
          <use href="/src/images/sprite.svg#icon-cil_arrow-slide"></use>
        </svg>
      </button>
      <button type="button" class="sw-button-next about-restaurant__button" aria-labelledby="прогорнути праворуч">
        <svg width="32" height="32">
          <use href="/src/images/sprite.svg#icon-cil_arrow-right"></use>
        </svg>
      </button>
      </div>
    </div>
  </div>
</section>
