<section class="bHotel">
  <div class="container">
    <h3 class="bHotel__title">MIMIHO</h3>
    <h2 class="bHotel__name">Готель</h2>
    <p class="bHotel_pargraf">
      Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
      Velit officia consequat duis enim velit mollit.
    </p>
    <div class="restaurant__second__slider" data-slider="restaurant-slider">
      <div class="restaurant-slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  /src/images/desktop-image/desktop-slide-photo-hotel-5.jpg 1x,
                  /src/images/desktop-image/desktop-slide-photo-hotel-5.jpg 2x
                "
                media="(max-width: 1023px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/desktop-image/desktop-slide-photo-hotel-5.jpg 1x,
                  /src/images/desktop-image/desktop-slide-photo-hotel-5.jpg 2x
                "
                media="(max-width: 1279px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/desktop-image/desktop-slide-photo-hotel-5.jpg 1x,
                  /src/images/desktop-image/desktop-slide-photo-hotel-5.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                class="about-restaurant_square-desktop"
                src="/src/images/desktop-image/desktop-slide-photo-hotel-5.jpg"
                alt="Готель"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  /src/images/desktop-image/desktop-slide-photo-hotel-3.jpg 1x,
                  /src/images/desktop-image/desktop-slide-photo-hotel-3.jpg 2x
                "
                media="(max-width: 1023px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/desktop-image/desktop-slide-photo-hotel-3.jpg 1x,
                  /src/images/desktop-image/desktop-slide-photo-hotel-3.jpg 2x
                "
                media="(max-width: 1279px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/desktop-image/desktop-slide-photo-hotel-3.jpg 1x,
                  /src/images/desktop-image/desktop-slide-photo-hotel-3.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                class="about-restaurant_square-desktop"
                src="/src/images/desktop-image/desktop-slide-photo-hotel-3.jpg"
                alt="Готель"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  /src/images/desktop-image/desktop-slide-photo-hotel-1.jpg 1x,
                  /src/images/desktop-image/desktop-slide-photo-hotel-1.jpg 2x
                "
                media="(max-width: 1023px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/desktop-image/desktop-slide-photo-hotel-1.jpg 1x,
                  /src/images/desktop-image/desktop-slide-photo-hotel-1.jpg 2x
                "
                media="(max-width: 1279px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/desktop-image/desktop-slide-photo-hotel-1.jpg 1x,
                  /src/images/desktop-image/desktop-slide-photo-hotel-1.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                width="254"
                class="about-restaurant_square-desktop"
                src="/src/images/desktop-image/desktop-slide-photo-hotel-1.jpg"
                alt="Готель"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  /src/images/desktop-image/desktop-slide-photo-hotel-2.jpg 1x,
                  /src/images/desktop-image/desktop-slide-photo-hotel-2.jpg 2x
                "
                media="(max-width: 1023px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/desktop-image/desktop-slide-photo-hotel-2.jpg 1x,
                  /src/images/desktop-image/desktop-slide-photo-hotel-2.jpg 2x
                "
                media="(max-width: 1279px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/desktop-image/desktop-slide-photo-hotel-2.jpg 1x,
                  /src/images/desktop-image/desktop-slide-photo-hotel-2.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                width="254"
                class="about-restaurant_square-desktop"
                src="/src/images/desktop-image/desktop-slide-photo-hotel-2.jpg"
                alt="Готель"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  /src/images/desktop-image/desktop-slider-photo-restaurant-4.jpg 1x,
                  /src/images/desktop-image/desktop-slider-photo-restaurant-4.jpg 2x
                "
                media="(max-width: 1023px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/desktop-image/desktop-slider-photo-restaurant-4.jpg 1x,
                  /src/images/desktop-image/desktop-slider-photo-restaurant-4.jpg 2x
                "
                media="(max-width: 1279px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/desktop-image/desktop-slider-photo-restaurant-4.jpg 1x,
                  /src/images/desktop-image/desktop-slider-photo-restaurant-4.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                width="254"
                class="about-restaurant_square-desktop"
                src="/src/images/desktop-image/desktop-slider-photo-restaurant-4.jpg"
                alt="Готель"
              />
            </picture>
          </div>
        </div>

        <div class="restdetails__arrows">
          <button
            type="button"
            class="restdetails__arrow rest-button-prev"
            aria-labelledby="прогорнути лівопуч"
          >
            <svg width="32" height="32">
              <use href="/src/images/sprite.svg#icon-arrow-left-hero"></use>
            </svg>
          </button>
          <button
            type="button"
            class="restdetails__arrow rest-button-next"
            aria-labelledby="прогорнути правовруч"
          >
            <svg width="32" height="32">
              <use href="/src/images/sprite.svg#icon-cil_arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="bHotel__reservation">
        <button class="bHotel__buttonres" data-modal-open-room3>
          Забронювати номер
        </button>

        <a href="./hotel.html" class="bHotel__buttonres down"
          >Переглянути ціни</a
        >
      </div>
    </div>
  </div>
</section>
