<section class="restdetails-section">
  <div class="container">
    <h2 class="visual-hidden">Ресторан</h2>
    <div class="restdetails">
      <h3 class="restdetails__name">MIMIHO</h3>
      <p class="restdetails__secondname">Ресторан</p>
      <p class="restdetails__desription">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="restaurant__menu__slider" data-slider="restaurant-slider">
      <div class="restaurant-slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  /src/images/desktop-image/desktop-slider-photo-restaurant-1.jpg 1x,
                  /src/images/desktop-image/desktop-slider-photo-restaurant-1.jpg 2x
                "
                media="(max-width: 1023px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/desktop-image/desktop-slider-photo-restaurant-1.jpg 1x,
                  /src/images/desktop-image/desktop-slider-photo-restaurant-1.jpg 2x
                "
                media="(max-width: 1279px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/desktop-image/desktop-slider-photo-restaurant-1.jpg 1x,
                  /src/images/desktop-image/desktop-slider-photo-restaurant-1.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                class="about-restaurant_square-desktop"
                src="/src/images/desktop-image/desktop-slider-photo-restaurant-1.jpg"
                alt="Застілля в ресторані"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  /src/images/desktop-image/desktop-slider-photo-restaurant-2.jpg 1x,
                  /src/images/desktop-image/desktop-slider-photo-restaurant-2.jpg 2x
                "
                media="(max-width: 1023px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/desktop-image/desktop-slider-photo-restaurant-2.jpg 1x,
                  /src/images/desktop-image/desktop-slider-photo-restaurant-2.jpg 2x
                "
                media="(max-width: 1279px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/desktop-image/desktop-slider-photo-restaurant-2.jpg 1x,
                  /src/images/desktop-image/desktop-slider-photo-restaurant-2.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                class="about-restaurant_square-desktop"
                src="/src/images/desktop-image/desktop-slider-photo-restaurant-2.jpg"
                alt="Застілля в ресторані"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  /src/images/desktop-image/desktop-slider-photo-restaurant-3.jpg 1x,
                  /src/images/desktop-image/desktop-slider-photo-restaurant-3.jpg 2x
                "
                media="(max-width: 1023px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/desktop-image/desktop-slider-photo-restaurant-3.jpg 1x,
                  /src/images/desktop-image/desktop-slider-photo-restaurant-3.jpg 2x
                "
                media="(max-width: 1279px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/desktop-image/desktop-slider-photo-restaurant-3.jpg 1x,
                  /src/images/desktop-image/desktop-slider-photo-restaurant-3.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                width="254"
                class="about-restaurant_square-desktop"
                src="/src/images/desktop-image/desktop-slider-photo-restaurant-3.jpg"
                alt="Застілля в ресторані"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  /src/images/desktop-image/desktop-slider-photo-restaurant-5.jpg 1x,
                  /src/images/desktop-image/desktop-slider-photo-restaurant-5.jpg 2x
                "
                media="(max-width: 1023px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/desktop-image/desktop-slider-photo-restaurant-5.jpg 1x,
                  /src/images/desktop-image/desktop-slider-photo-restaurant-5.jpg 2x
                "
                media="(max-width: 1279px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/desktop-image/desktop-slider-photo-restaurant-5.jpg 1x,
                  /src/images/desktop-image/desktop-slider-photo-restaurant-5.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                width="254"
                class="about-restaurant_square-desktop"
                src="/src/images/desktop-image/desktop-slider-photo-restaurant-5.jpg"
                alt="Застілля в ресторані"
              />
            </picture>
          </div>
          <div class="swiper-slide">
            <picture>
              <source
                srcset="
                  /src/images/desktop-image/desktop-slider-photo-restaurant-4.jpg 1x,
                  /src/images/desktop-image/desktop-slider-photo-restaurant-4.jpg 2x
                "
                media="(max-width: 1023px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/desktop-image/desktop-slider-photo-restaurant-4.jpg 1x,
                  /src/images/desktop-image/desktop-slider-photo-restaurant-4.jpg 2x
                "
                media="(max-width: 1279px)"
                type="image/jpeg"
              />
              <source
                srcset="
                  /src/images/desktop-image/desktop-slider-photo-restaurant-4.jpg 1x,
                  /src/images/desktop-image/desktop-slider-photo-restaurant-4.jpg 2x
                "
                type="image/jpeg"
              />
              <img
                width="254"
                class="about-restaurant_square-desktop"
                src="/src/images/desktop-image/desktop-slider-photo-restaurant-4.jpg"
                alt="Застілля в ресторані"
              />
            </picture>
          </div>
        </div>

        <div class="restdetails__arrows">
          <button
            type="button"
            class="restdetails__arrow rest-button-prev"
            aria-labelledby="прогорнути лівопуч"
          >
            <svg width="32" height="32">
              <use href="/src/images/sprite.svg#icon-arrow-left-hero"></use>
            </svg>
          </button>
          <button
            type="button"
            class="restdetails__arrow rest-button-next"
            aria-labelledby="прогорнути правовруч"
          >
            <svg width="32" height="32">
              <use href="/src/images/sprite.svg#icon-cil_arrow-right"></use>
            </svg>
          </button>
        </div>
      </div>

      <div class="restdetails__buttons">
        <button type="button" class="restdetails__modalbtn" data-modal-open3>
          Забронювати столик
        </button>

        <a class="restdetails__link" href="./restaurant.html"
          >Переглянути меню</a
        >
      </div>
    </div>
  </div>
</section>
